@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
   
}
body{
     background-color: black; 
     color:white;
    
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
}
.diff{
    color:#e50914;
    padding-right: 10px;
    }
.para{
    padding:10px;
    color:rgb(203, 200, 200);
}

.searchbox{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    padding:30px;
}
.input{
    width:25%;
    padding:8px;
    outline: none;
    margin-right: 5px;
    border-radius: 8px;
}
.btn{
    width:10%;
    padding: 8px;
    border-radius: 8px;
    background-color:#e50914;
    color:white;
}
.moviessec{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-column-gap:20px;
    grid-row-gap: 50px; 
    padding:40px 60px;
}
.card {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#121113;
    border-radius: 8px;

        
}
.card >img{
    width:50%;
    border-radius: 8px;
    height:300px;
    object-fit: content;
    position:relative;
    bottom:25px;


}
.card >p:last-child{
    text-align: center;
    padding:10px;
    padding-bottom: 30px;
}

